@import "../../../data/styles.css";

.nav-container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 2vh;
	z-index: 999;
}

.nav-background {
	width: 380px;
	height: 70px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	border-radius: 16px;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 4.3vh;
}

.nav-item {
	font-weight: bold;
	font-size: 80%;
}

.nav-item.active a {
	color: var(--link-color) !important;
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
}

.nav-item a:hover {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

/* Specific style for "Home" item to align it to the right */
.nav-home {
	margin-left: auto;
}

@media (max-width: 600px) {
	.navbar {
		margin-left: 25%;
		margin-right: 25%;
		width: 90%;
		top: 3vh;
		font-size: 80%;
	}

	.nav-background {
		width: 80%;
		height: 50px;
	}

	.nav-item {
		font-weight: bold;
	}
	.nav-list {
		padding: 2.2vh;
	}
}
