@import "../../data/styles.css";


/* General Styles */
.detail-page {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
   
}

.project-title-overview {
    display: flex;
    
   
}

.project-description-wrapper {
   
    padding-bottom: 10px;
}

.project-posted-author {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
   padding-top: 10px;
   padding-bottom: 30px;
   
    margin-bottom: 16px;

}


.divider {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #777;
    border-radius: 50%;
    margin: 0 8px;
}

.project-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.project-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.author-name {
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight :900;
    margin: 0;
    color: var(--primary-color)
}

.publication-info {
    font-size: 14px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    margin-top: 4px;
}

.project-categories{
    padding-bottom: 2px;
    
}

.publication-bold {
    color: var(--primary-color);
    
}






.formatted-datetime {
    font-style: italic; /* Italicizes the datetime */
    color: var(--secondary-color);
}

.project-stack {
    margin-bottom: 40px;
}

.project-logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    /* Allow logos to wrap */
    gap: 30px;
    /* Space between logos */
}

.logo-stack {
    width: 80px; 
	height: 25px;
}

.project-bottomBar a {
    width: 100px;
    color: #007bff;
    /* Primary color for link */
    text-decoration: underline;
    font-size: 1.1em;
    /* Font size for the link */
    margin-right: 20px;
    /* Space between link and time */
}

.deskripsi {
    width: 100%;
}



@media (max-width: 600px) {
    .project-right {
        width: 20%; /* Reduced width on mobile */
    }

    .project-right h6 {
        font-size: 12px; /* Reduced font size on mobile */
    }
    
    .posted-by {
        font-size: 12px; /* Reduced font size on mobile */
    }
    
    .formatted-datetime {
        font-size: 12px; /* Reduced font size on mobile */
    }

    .project-logo-wrapper {
        gap: 10px;
    }

    .logo-stack {
        height: 22px;
        width: 80px;
    }

    .deskripsi {
        padding-top: 0;
    }
    .project-posted-author {
        padding-bottom: 10px;
    }
}
