@import "../../../data/styles.css";

.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	height: 350px;

}

.project a {
	text-decoration: none;
}

.project:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	padding: 30px;
}



.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
	line-height: 3;
	overflow: hidden;          /* Menyembunyikan teks yang meluap */
	text-overflow: ellipsis;   /* Menambahkan elipsis (...) pada teks yang terpotong */
	display: -webkit-box;    
	-webkit-line-clamp: 1;     /* Membatasi jumlah baris menjadi 4 */
	-webkit-box-orient: vertical; /* Mengatur orientasi kotak untuk vertikal */
              /* Menetapkan margin ke 0 untuk menghindari spasi yang tidak diinginkan */
	max-width: 100%;    
}

.project-description {
	color: var(--secondary-color);
	overflow: hidden;          /* Menyembunyikan teks yang meluap */
	text-overflow: ellipsis;   /* Menambahkan elipsis (...) pada teks yang terpotong */
	display: -webkit-box;      /* Membuat konten menggunakan flexbox dan WebKit untuk pemotongan teks */
	-webkit-line-clamp: 4;     /* Membatasi jumlah baris menjadi 4 */
	-webkit-box-orient: vertical; /* Mengatur orientasi kotak untuk vertikal */
	margin: 0;                 /* Menetapkan margin ke 0 untuk menghindari spasi yang tidak diinginkan */
	max-width: 100%;           /* Mengatur lebar maksimal ke 100% dari kontainer induk */
  }
  

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
	
}

.project-link-text {
	padding: 10px;
	margin-top: 40px;
	font-weight: 900;
	color: white;
	border-radius: 4px;
	background-color: var(--primary-color);
	
	
}

.project-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}




  

@media (max-width: 600px) {
	



	.project-link-text {
		padding: 6px;
		
		margin-top: 20px;
		
	}

	
}
